body{
  overflow-y: scroll;
}

.rotate_css{

  rotate:0;
  transition: 
  rotate 0.5s;
  ;
}

.rotate_css:hover{

  rotate: -90deg;
}

.inv {

  display:none;
}

.magic:hover{

  transform: scale(1.2) !important;
}

.largo {

  height: 1080px;
}


section {

  padding-bottom: 35%;
}

#timer_alert {

  display:block;
}

#passLogin {

  background-color: white;
}

#eye_close{
  display: none;
}

#eye_open{

  display: inline-block;
}

