body{
  overflow-y: scroll;
}

.rotate_css{

  rotate:0;
  transition: 
  rotate 0.5s;
  ;
}

.rotate_css:hover{

  rotate: -90deg;
}

.inv {

  display:none;
}

.magic:hover{

  transform: scale(1.2) !important;
}

.largo {

  height: 1080px;
}


section {

  padding-bottom: 35%;
}

#timer_alert {

  display:block;
}

#passLogin {

  background-color: white;
}

#eye_close{
  display: none;
}

#eye_open{

  display: inline-block;
}

/* carrito */

/* Estilos del Sitio WEB */
ul li {list-style: none;
}

.submenu {
position: relative;
}

.submenu #carrito{
display: none;
}

.submenu:hover #carrito{
display: block;
position: absolute;
right:0;

top:100%;
z-index: 1;
background-color: white;
padding: 5px;
min-height: 400px;
min-width: 400px;
}

.borrarProd {
background-color: red;
border-radius: 50%;
padding: 5px 10px;
text-decoration: none;
color: white;
font-weight: bold;
}

/* .vacio {
padding: 10px;
background-color: crimson;
text-align: center;
border-radius: 10px;
color: white;
} */
